@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input_form_element{
  @apply text-2xl outline-none rounded-md px-2 py-1 my-2 z-0 absolute w-11/12
}
.input_form_label{
  @apply  transition-transform duration-300 z-20 absolute px-2 ease-in-out w-11/12
}

